
!*/
!*.yaml
!.gitignore
!*.md
!automations/**

*.log
*.db
home-assistant_v2.db.*

.storage
.cloud
.google.token
custom_components
.ssh
.ip_authenticated.yaml
google_calendars.yaml
esphome/*

ip_bans.yaml
secrets.yaml
known_devices.yaml